[defaults]
interpreter_python=auto_silent
forks = 20
pipelining = true
callbacks_enabled = timer, profile_tasks
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
pipelining = true