[defaults]
interpreter_python=auto_silent
forks = 20
callbacks_enabled = timer, profile_tasks
#verbosity = 4
#pipelining = true
allow_world_readable_tmpfiles = true
[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
#pipelining = true